@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400" rel="stylesheet');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {

    font-family: Raleway, sans-serif;
    color: #2d3347;

}

/* Header logo styling */

#logo {

    float: left;
    height: 75px;

}

/* Navigation menu links */

nav li {

    float: right;
    list-style: none;
    margin-right: 25px;

}

#menu {

    font-size: 120%;
    letter-spacing: 1px;

}

#menu a {

    text-decoration: none;
    color: inherit;

}

#menu a:hover {

    border-bottom: 1px solid #2d3347;

}

#logo, #menu {

    line-height: 70px;
    overflow: hidden;
    padding: 10px;

}


/* Hero image styling */

#hero {

    background: url('../images/hero-image.png') no-repeat center center;
    height: 500px;
    width: 100%;

}
